<div id="editprof">
  <h3><%= @user.name %></h3>
  <%= @user.cohort.name %>
  To edit current location and company please update your LinkedIn profile

  <%= form_for @user, url: user_path(@user), html: { method: "patch", class: "update_user pure-form pure-form-stacked" } do |f| %>
    Github: <%= f.text_field :github %>
    Twitter: <%= f.text_field :twitter %>
    Facebook: <%= f.text_field :facebook %>
    Blog: <%= f.text_field :blog %>
    <%= f.submit "Update", id: "update-submit", class: 'pure-button'%>
    <% end %>
</div>