<div id="editprof">
  <h1>Edit Your Profile</h1>
  <p><%= @user.name %></p>
  <p><%= @user.cohort.name %></p>

  <h3>Edit Your Information</h3>
    <p> To edit current location and company please update your LinkedIn profile</p>

  <%= form_for @user, url: user_path(@user), html: { method: "patch", class: "update_user pure-form pure-form-stacked" } do |f| %>
    Github: <%= f.text_field :github %>
    Twitter: <%= f.text_field :twitter %>
    Facebook: <%= f.text_field :facebook %>
    Blog: <%= f.text_field :blog %>
    <%= f.submit "Update", id: "update-submit", class: 'pure-button'%>
    <% end %>
</div>