<div id="searchbarresults">
<h2> You found <%= results.length %> users. </h2>

<table>
<tr><th>Name</th><th>Cohort</th><th>Current Location</th><th>Company</th></tr>
<% results.each do |user| %>
<tr><td><%= link_to user.name, user_path(user), { :class => "profilelink" } %></td><td><%= user.cohort.name %></td><td><%= user.current_location %></td><td><%= user.company %></td></tr>
<% end %>
</table>
</div>
