<h3> You found <%= results.length %> users. </h3>

<table>
<tr><th>Name</th><th>Cohort</th><th>Current Location</th><th>Company</th></tr>
<% results.each do |user| %>
<tr><td><%= link_to user.name %></td><td><%= user.cohort.name %></td><td><%= user.current_location %></td><td><%= user.company %></td></tr>
<% end %>
</table>