<div id="user-profile">
  <h1><%= user.name %></h1>
  <p><%= user.cohort.name %></p>
  <p><%= user.current_location %></p>
  <p><%= user.company %></p>

  <ul class='social-media'>
  <li class='social-link'><a href="<%= user.github %>" target='_blank'><i i class='fa fa-github fa-lg'></i></a></li>
  <li class='social-link'><a href="<%= user.twitter %>" target='_blank'><i i class='fa fa-twitter fa-lg'></i></a></li>
  <li class='social-link'><a href="<%= user.facebook %>" target='_blank'><i i class='fa fa-facebook fa-lg'></i></a></li>
  <li class='social-link'><a href="<%= user.linked_in %>" target='_blank'><i i class='fa fa-linkedin fa-lg'></i></a></li>
  <li class='social-link'><a href="<%= user.blog %>" target='_blank'><i i class='fa fa-tumblr fa-lg'></i></a></li>
</ul>

  <% if user.id == session[:user_id] %>
    <%= link_to "Edit Your Profile", edit_user_path(user), { :class => "edit-profile-link", :id => user.id} %>
  <% end %>

  <a id="close-pop-up" href="#" rel="modal:close"><i class="fa fa-times-circle-o fa-lg"></i></a>
</div>
