<!DOCTYPE html>
<html>
<head>
  <title>DBCconnect</title>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Share+Tech+Mono' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="mustache.js" ></script><script type="text/javascript" src="https://rawgithub.com/janl/mustache.js/master/mustache.js"></script>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application"%>
  <%= stylesheet_link_tag    "pure", media: "all" %>
  <%= stylesheet_link_tag    "main-grid", media: "all" %>
  <%= stylesheet_link_tag    "marketing", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
